/*
 *
 * MMM-Craigslist
 *
 * BuzzKc
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
.clLoading {
    text-align: center;
    font-size: 1rem;
}

.clContainer {
    width: 90%;
}

.clListings {
    list-style: none;
    margin: 0;
    list-style-position: inside;
    padding: 0;
}

.clListing {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ddd;
    opacity: 0.85;
}